$color-black: #141414;
$color-white: #dedede;
$color-blue: rgb(9, 113, 241);


html, body {
  background: $color-black;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: lighten($color-white, 5);
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0.625rem 0.625rem 0;
  margin: 2rem auto;
  position: relative;

  h1 {
    padding: 0.75rem;
    margin: 0 auto;
  }
}

.content {
  width: 100%;
  display: flex;

  &__sections,
  &__previews {
    margin: 1rem 1rem 5rem;
    width: 50%;
    border: 1px solid lighten($color-black, 10);
  }

  &__section,
  &__preview {
    margin-bottom: 1rem;
    padding: 1.5rem; 
    border-bottom: 1px solid lighten($color-black, 10);
  }
}


.input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  &__label {
    width: 5rem;
    text-align: right;
    margin-right: 0.75rem;
  }

  &__field {
    width: auto;
    height: 3rem;
    border-radius: 0.375rem;
    padding: 0.5rem;
    font-family: monospace;
    outline: none;
    border: 2px solid transparent;
    min-width: 20rem;

    &:focus {
      border: 2px solid $color-blue;
    }
  }
}

.btn {
  border: none;
  outline: none;
  height: 3rem;
  color: $color-white;
  cursor: pointer;
  transition: all 0.25s ease;

  &--icon {
    background: lighten($color-black, 10);
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
      background: lighten($color-black, 20);
    }
  }

  &--submit {
    height: 3rem;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    font-family: monospace;
    outline: none;
    border: 2px solid transparent;
    
    background: $color-blue;
    margin: 0 1.5rem 0 0;
    align-self: flex-start;
    justify-content: center;

    &:disabled {
      background: lighten($color-black, 20);
      text-align: left;
    }
  }
}

textarea {
  width: 100%;
}

